.homeFigure {
    margin: 0;
    padding-top: 2px;
    position: relative;
}

.homePicture {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.homeCaption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bruno Ace SC', sans-serif;
    padding: 4px 8px;
    border-radius: 3px;
    z-index: 1;
    font-size: 2rem;
    line-height: 0.8;
}

.homeCaptionSmall {
    font-size: 1rem;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-family: 'Bruno Ace SC', sans-serif;
    color: black;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-family: 'Bruno Ace SC', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
}

.about-section {
    text-align: center;
    margin: 40px 0;
    padding: 10px;
    font-weight: 100;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Bruno Ace SC', sans-serif;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s ease, transform 0.1s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
}

.btn:active {
    transform: scale(0.96);
}

.confiance {
    text-align: center;
    margin: 20px 0;
    padding: 40px 0;
}

p {
    font-family: 'Bruno Ace SC', sans-serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    margin: 40px 10px
}

.logo-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
}

.logo-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.confiance-logo {
    max-width: 150px;
    height: auto;
    margin-right: 30px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}