.homeFigure {
    margin: 0;
    padding-top: 2px;
    position: relative;
}

.homePicture {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

.homeCaption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bruno Ace SC', sans-serif;
    padding: 4px 8px;
    border-radius: 3px;
    z-index: 1;
    font-size: 2rem;
    line-height: 0.8;
}

.homeCaptionSmall {
    font-size: 1rem;
}

h1 {
    text-align: center;
    margin: 50px 0;
    font-family: 'Bruno Ace SC', sans-serif;
    color: black;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-family: 'Bruno Ace SC', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
    padding: 0 20px;
}

.confiance {
    text-align: center;
    margin: 50px 0;
    padding: 40px 0;
}

.confiance p {
    font-family: 'Bruno Ace SC', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 50px 10px
}

.logo-slider {
    align-items: center;
    margin-top: 30px;
}

.confiance-logo {
    max-width: 150px;
    height: auto;
}